/**
 * UI customization that are optional (to user's individual taste)
 * It might also include styles for some of the add-on
 **/

/* make cursor more obvious */
.CodeMirror div.CodeMirror-cursor {
  border-left: 3px solid !important; 
  border-left-color:  black;
  z-index: 2; /* override background in ".CodeMirror pre" */
}
.CodeMirror div.CodeMirror-cursor.CodeMirror-overwrite {
  border-left: 8px solid !important; 
  border-left-color:  black;
  z-index: 2; /* override background in ".CodeMirror pre" */
} 


/* BEGIN match bracket addon customization */
.CodeMirror-matchingbracket {
  /* semi-transparent aqua color easier to identify white / black cursors on top of it */
  background-color: rgba(0, 255, 255, 0.6) !important; 
  border: none !important;
}

.CodeMirror-nonmatchingbracket {
  background-color: red !important;
  color: white  !important;
}
/* END match bracket addon customization */


/* BEGIN dialog addon customization */
.CodeMirror-dialog {
  background-color: rgba(255, 255, 0, 0.95);
  color: #333;
  padding: .3em .8em;
  font-family: Verdana, Geneva, sans-serif;
  font-weight:  bold;
}

/* With Verdana font the button needs to be a bit larger */
.CodeMirror-dialog button {
  font-size: 85%;
}

.CodeMirror-dialog input {
  background-color: white;
  color: black;
  font-family: Consolas, monospace;
  padding: 2px;
}
/* END dialog addon customization  */


/* override default font, Consolas / Lucida is easier to read (slightly heavier) in small fonts  */

.CodeMirror {
  font-family: Consolas, monospace; /* "Lucida Console", Monaco, monospace; */
  font-size: 14px; /* 13px; */
}

span.cm-comment { /* default make comment italic, easier to identify */
  font-style:italic; 
}

.cm-s-rubyblue { /* still prefer my font and line-spacing here for rubyblue theme */
  font-family: Consolas, monospace !important;
  font-size: 14px !important; 
  line-height: 1 !important;
}

.CodeMirror {
  background-color: rgba(247,247,247, 0.7);
}

.CodeMirror-hints {
  font-family: inherit; /* make hints font consistent with the editor) */
}

/* make matches easier to catch than default */
.cm-searching {
  background-color: rgba(255, 255, 0, 0.8);
}

.CodeMirror-selected {
  background-color: rgba(70, 90, 130, 0.6) !important; 
}

.CodeMirror-focused .CodeMirror-selected {
  background-color: rgba(121, 140, 180, 0.6) !important; 
}

// in chrome app mode, defaults is none;
//  (done by chrome app, not codemirror)
// we need to override it to ensure output of dialog can be copied.
.CodeMirror-dialog {
  -webkit-user-select: all;
}

/* traiingspaces addon the style comes from the demo */
.cm-trailingspace {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAACCAYAAAB/qH1jAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3QUXCToH00Y1UgAAACFJREFUCNdjPMDBUc/AwNDAAAFMTAwMDA0OP34wQgX/AQBYgwYEx4f9lQAAAABJRU5ErkJggg==);
  background-position: bottom left;
  background-repeat: repeat-x;
}


/* make tab visible */
.cm-tab {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAMCAYAAAAkuj5RAAAAAXNSR0IArs4c6QAAAGFJREFUSMft1LsRQFAQheHPowAKoACx3IgEKtaEHujDjORSgWTH/ZOdnZOcM/sgk/kFFWY0qV8foQwS4MKBCS3qR6ixBJvElOobYAtivseIE120FaowJPN75GMu8j/LfMwNjh4HUpwg4LUAAAAASUVORK5CYII=);
  background-position: right;
  background-repeat: no-repeat;
}

.cm-s-blackboard .cm-tab, .cm-s-rubyblue .cm-tab { /* use white tab mark with dark background themes */
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAMCAYAAAAkuj5RAAAABGdBTUEAALGPC%2FxhBQAAAAlwSFlzAAAOwwAADsMBx2%2BoZAAAABp0RVh0U29mdHdhcmUAUGFpbnQuTkVUIHYzLjUuMTAw9HKhAAAAQklEQVRIS2MYBaNgZADmDx8%2B%2FAfSAiAOlD3kgBLU4YIoHgBxhiKGOn9IAbmh7AFwHoA5fCh6AAYYofQoGAXUAQwMAIf41bG1P2mvAAAAAElFTkSuQmC););
}

.cm-s-blackboard .CodeMirror-selected { /* used for selection and query-replace */
  background-color: rgba(255, 0, 0, 0.8) !important;  
}
