body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: Verdana, Geneva, sans-serif;
}


.buttons {  
  padding: 2px;
  height: 25px;
  background: #eee; /* fallback */
  background: -webkit-linear-gradient(#F6F6F6 40%, #E3E3E3 70%); 
  -webkit-app-region: drag;
}

.buttons button {
  -webkit-app-region: no-drag;
}

button {
  margin: 0;
  background-color: #F0F0F0;
  cursor: pointer;
  height: 25px;
}

button[disabled] {
  color: lightgray;
}

button#help { /* not having an icon on help screws up alignment, here to compensate */
  position: relative;
  top: -2px;
}

button:not([disabled]):hover {
  background-color: gray;  
  background: -webkit-radial-gradient(ellipse farthest-corner, rgb(175, 175, 175), rgb(225, 225, 225) );
  color: white;
}

button#openRecent {
  position: relative;
  top: -2px;
  left: -8px; /* move it left to be immediately next to open btn */
  margin-right: -8px;
  padding-left: 2px;
  padding-right: 4px;
  font-weight: bold;
  font-size: 16px;
}

button#openRecent .dropdown {
  font-weight: normal;
  font-size: smaller;
  padding: 3px 4px;
  list-style: none;
  min-width: 150px;
  max-width: 350px;
  text-align: left;
  background: none;
  background-color: #F0F0F0;
  color: black;
}

button#openRecent .dropdown:hover { /* to override button:hover */
  background: none;
  background-color: #F0F0F0;
  color: black;
}

button#openRecent .dropdown li {
  padding: 3px;
  max-height: 30px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

button#openRecent .dropdown.ctx-menu-clicked {
  cursor: default !important; /* revert cursor back to default when context-menu active */
}

button#openRecent .dropdown:not(.ctx-menu-clicked) li.entry:hover, button#openRecent .dropdown li.ctx-menu-clicked {
  background: #08f;
  color: white;
}

/* highlight dropdown when using keyboard nav to be more visible */
button#openRecent:focus .dropdown {
  border: 2px solid orange;
}

/* BEGIN open recent: pin/unpin */
button#openRecent .dropdown li.pinned span.pin {
  background: no-repeat left 5px top 2px url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8%2F9hAAAACXBIWXMAADdcAAA3XAHLx6S5AAAABmJLR0QA%2FwD%2FAP%2BgvaeTAAADSElEQVQYGW3BTWyTZQDA8f%2FzvO%2Fbdu22wko7BsMy9wEyISPgBpgsGQRuHjh404MhJCYkhoERLyQmxsumxHCZMcs8GBNvZmEmiggR%2FMAJkrE6t8XN2W0w13bt1q4f78fzOIghxPj7Cf7PttdB%2BiC3DrYtq3oORD2TnBSiUnFNqRGKxzSCp%2Fj3vUZ1y0Ga2w%2BQSS9LyzJVLrf2XjZbOF%2BxKzNC8EHV398N2bEjwrUadchaQfCUve9MYpom22s0PmEbjWHpjY7PfioDta%2F8ePdPBzdnIWUf2rsAQnD1DS04egm0pkpCLL6Lv%2F6YIhILy8zEdRVtao8ru%2Fxtz%2FETzamSz701OoZybdOwfEeAn7RS0iB%2BHAo53PU8eWmKls6j%2BOOH9ObnjtXUbQpfqY3E9ibnF5Tr2lIGarWnkdrzrgkhEtIwpEHjYfAyUNuGXkuTz8xvSd%2F4Kri7q2OwuXnn8eroTrfkSvFg%2Bq5cXZy8qUINZ7z1zFWltKMR2rSiLSgvLvQGQvXnDL%2F%2F3ZaTh9yDrdFqT1hqbDZlFPNZoZVbMe3cOZW8cc8XqJFIk0p4F6YzPMJbw0M6ncvzxZffvNy5ry347DPbvW2RILcmUjL9MOllkwmjmF0aENJ3j7omq0CdI3QR4bmIwxe%2BZoMslmy1Viydf6m74%2F1QKOT%2BtuSYs4srKj3zq1xdSDwoZ5IdupBNyXA9yqlQHd1B4YfLmDPJhyynsoprvcDWD%2B%2FEPntxd0vTSUvglNYyIp9ZkKoqpqzuV11tBmFlGulWcJLXeUT8cmeMhUyRUqlkKKfsRetq3vx8NNOfyG9xKsq00iurqpDPycJqtkujRw3DkCCUe%2BU0j5j1sTqamnbISN1mz1N03v7%2BZv%2FzjF%2F%2B5PbW4eqI%2F6LG2O%2FY5YSyyxNojefzKyENnrh%2FP4HWmuTCUnB6cvL3jwYGEkCADV3xVsH%2Bt8O8cNHHsY%2BhsYf%2FEvNzc4Y%2FEPBSy6lLk1OTvcMjIx2e1mOR7m7586lTKj8GiwmwyzyhNFROCx7TWtPf11c7NDg413v27BmtNQ0NDWEgBCKIVR3E8AcAH2ABBiD5lwCM9j172qSUreOJxJRlWZscx3EBD3ABB7ABB7ABG7ABB3D%2FAWrIj2pgTC%2BmAAAAInpUWHRTb2Z0d2FyZQAAeNorLy%2FXy8zLLk5OLEjVyy9KBwA22AZYEFPKXAAAAABJRU5ErkJggg%3D%3D');
}

button#openRecent .dropdown li span.pin {
  background: no-repeat left 3px top 1px url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8%2F9hAAABFElEQVR42mNkoBAwDmMDjGrOnJflZ7i5sdQkgiwD9KtO%2FS9M0WRIUOKVAnKfo8t7d104f%2Fnx55s4DdAuP%2Fn%2FcocZg3XHSQYWPhEUudeP3jBc6zDH7wKNkhP%2F%2FfL0GGJ%2FvWPQVpZGketac5uB01aO4emvfwyMKfVT%2FqNrfvviMcMV7gCG8DAVhle%2FPzEIyEuiyJ%2FffZ9BS5KH4c67H3AXqKEbopy59aaJsxbD2%2BdPGdgFRVHkntx6x6AuI8Bw7fk33F5QTN%2FyX1RTgeHR8SsMf5h4MOTNDWUYgIGI2wAFoAE8UpIMV%2BqN1bHJO5bt3XDp7qv7%2BAw4z8LN%2FuxOn2shkHsLhzJ5QilRHoh%2FMWBJBzAw8HkBADznW71Vptp%2BAAAAAElFTkSuQmCC');
  width: 25px;
  height: 21px;
  position: absolute;
  right: 0px;
  top: 0px;
  padding-left: 0px;
  border-left: 1px solid #339;
  display: inline-block;
  visibility: hidden;
}

button#openRecent .dropdown:not(.ctx-menu-clicked) li:hover > span.pin {
  background-color: #DDD; /* slightly darker than the dropdown background */
  visibility: visible;
}

button#openRecent .dropdown:not(.ctx-menu-clicked) li > span.pin:hover {
  background-color: lightblue;
}


button#openRecent .dropdown li {
  position: relative;
}


button#openRecent .dropdown li.sep {
  color: darkblue;
  font-size: 90%;    
  padding-bottom: 0px;
  padding-left: 0px;
  cursor: default;
}

button#openRecent .dropdown li.sep:hover {
  background-color: inherit;
}

button#openRecent .dropdown li.sep hr {
  display: inline-block;
  border: 1px inset;
  width: 100%;
  position: relative;
  top: 3px;
  margin-left: 6px;
  margin-right: 6px;
}

ul.ctx-menu {
  border: 1px solid gray;
  box-shadow: 1px 1px 3px #333;
  border-radius: 3px;
  z-index: 11;
  list-style: none;
  padding-left: 2px;
  padding-right: 2px;
  font-size: 90%;
  background-color: white;
  position: absolute; /* actual position to be set programmatically */
}

li.ctx-menu-item {
  padding: 2px 4px 2px 12px;
  border: 1px solid transparent;
  margin: 1px;
  border-radius: 3px;
  cursor: pointer;
}

li.ctx-menu-item:hover {
  border-color: gray;
  background-color: #eee;
}

/* END open recent: pin/unpin */


button#exit {
  position: absolute; 
  right: 6px; 
  color: #bbb; 
  font-weight: bold; 
  font-family: 'Arial Black', Verdana, Geneva, sans-serif;
}

button#exit:hover {
  color: white;
  background-color: rgb(225, 25, 25);
  background: radial-gradient(circle, rgb(200, 25, 25), rgb(255, 225, 225));
}

#win { /* provide a frame around the editor, height/width needs to be set programmatically  */
  position: absolute;
  top: 0px;
  left: 0px;
  border: 5px solid rgba(0,0,255, 0.15);
  border-radius: 8px;
  width: 890px;
  height: 590px;
}

#editor {
  position: absolute;
  top: 29px;
  bottom: 24px;
  left: 0;
  right: 0;
  background: transparent;
}

#info {
  white-space: nowrap;
  position: absolute;
  bottom: 0;
  background: #eee; /* fallback */
  background: -webkit-linear-gradient(#E3E3E3 40%, #F6F6F6 70%);
  padding: 6px;
  left: 0;
  right: 0;
} 

.fileDirty {
  background-color: red;
  color: white;
}

#info label {
  font-weight: bold;
}


.accessKey {
  text-decoration: underline;
}

#_codeModeModifier {
  font-size: smaller;
}

#_codeModeModifier span {
  margin: 0px 3px;
}

#_codeModeModifier #colNumMode {
  /* ensure enough width up to 3-digit, 
     so that the UI to the right, such as #_searchStatus,
     does not shift around when the column number changes.
    */
  min-width: 40px;
  display: inline-block;
}

#_searchStatus {
  font-size: smaller; 
}
#_searchStatus > #numMatched {
  background-color: rgba(225,225,0,0.9);
  padding: 1px 3px;
  margin: 0px 3px;  
}

#_searchStatus > #numMatched.none {
  background-color: rgba(225,0,0,0.9);  
}

.dropping { /* used by the patched dnd DnDController (rather than built-in dnd)*/ 
  background: #9999CC !important;
}

/* BEGIN Necessary CM override to make UI function properly */

.CodeMirror {
  margin: 0;
  padding: 0;
  height: auto; /* to support resizing */
}

/* END Necessary CM override to make UI function properly */

/* webkit-specific custom scrollbar */
* ::-webkit-scrollbar{width:12px;height:12px;}
* ::-webkit-scrollbar-button:start:decrement{display:none;height:0;background-color:transparent;}
* ::-webkit-scrollbar-button:end:increment{display:block;height:0;background-color:transparent;}
* ::-webkit-scrollbar-track-piece{background-color:#FAFAFA; border: 1px solid #CCC; -webkit-border-radius:10px;}
* ::-webkit-scrollbar-thumb {height:50px; background-color:#eee; background: -webkit-linear-gradient(right bottom, #ccf 20%, #ddd 60%); -webkit-border-radius:10px; -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); }
* ::-webkit-scrollbar-thumb:hover {background: #ccc;}
