/* Styles to make markdown mode LivePreview -like
 * It depends on .cm-m-markdown class is set to .CodeMirror element
 */

.CodeMirror.cm-m-markdown {
  font-family: sans-serif;
}

.CodeMirror.cm-m-markdown .CodeMirror-lines {
  /**
   * sans-serif generally larger than monospace, 
   * make them smaller so they appear similar in size as monospace
   * set it at the inner .CodeMirror-lines element
   * rather than top-level wrapper .CodeMirror, so that any overall
   * font-size adjustment (done at .CodeMirror level) will remain effective
   */
  font-size: 90%; 
}

.cm-m-markdown .cm-header-1 { font-size: 150%; }
.cm-m-markdown .cm-header-2 { font-size: 130%; }
.cm-m-markdown .cm-header-3 { font-size: 115%; }
.cm-m-markdown .cm-header-4 { font-size: 105%; }
.cm-m-markdown .cm-header-5 { font-size: 105%; }
.cm-m-markdown .cm-header-6 { font-size: 105%; }

.cm-m-markdown .cm-comment, .cm-m-markdown .cm-quote {
  font-family: Consolas, monospace;
  /** 
   * Compensate monospace tends to be smaller than sans-serif. 
   * See rule .CodeMirror.cm-m-markdown .CodeMirror-lines
   */ 
  font-size: 110%;
}

/* cm-url shorterned so it is less cluttered.
 * downside: it is hard to edit (one must mouseover the state)
 */
.cm-m-markdown .cm-url { 
  max-width: 20ch;
  max-height: 1em;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis; 
  white-space: nowrap;
}

.cm-m-markdown .cm-url:hover { 
  display: inline;
}

.cm-m-markdown .cm-url, .cm-m-markdown .cm-link { 
  cursor: pointer; /* appears to be clickable, which they are, backed by accompanying code */
}

.cm-m-markdown .cm-hr {
  display: block;
  width: 100%;
  height: 0px;
  border-style: inset;
  border-width: 1px;
  color: transparent; /* make text --- diseappear */
}

